.app-header {
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-rows: auto;
  background: linear-gradient(#fff, #f8f8f8);
  backdrop-filter: blur(var(--header-backdrop-blur));
  transition: box-shadow 0.25s ease, transform 0.2s ease;
  border-bottom: solid 0.75px var(--divider);
  padding: 24px 48px;
}

.app-header.is-expanded .header-main {
  grid-area: header-main;
  grid-column: 1 / -1;
  grid-template-rows: auto auto;
  justify-self: center;
  justify-content: space-between;
  width: 100%;
  row-gap: 8px;
  align-items: start;

  span {
    width: max-content;
  }
}

.filter {
  width: 100%;
}

.app-header.is-expanded {
  box-shadow: none;
  height: 200px;
}

.app-header.is-mini {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.app-header.is-sticky {
  position: sticky;
  top: 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo header-main side-links";
  align-items: center;
  height: var(--header-height-expanded);
  transition: height 0.25s ease, padding 0.25s ease;
  height: auto;
}

.app-header.is-mini .nav-bar {
  height: 50px;
}

.logo {
  grid-area: logo;
  display: flex;
  align-self: flex-start;
  justify-self: start;
  gap: 8px;
  text-decoration: none;
  padding-top: 0.5em;
  z-index: 10;
}

.logo .brand {
  font-size: 24px;
  color: var(--primary-01);
  font-family: Roboto-Medium, sans-serif;
}



.nav-links {
  grid-area: nav-links;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: start;
  align-self: start;
  gap: 24px;
}

.nav-links a {
  color: var(--text-secondary);
  font-family: Roboto;
  font-size: 32px;
  text-decoration: none;
  padding: 0px 12px 24px 12px; 
  border-radius: 360px;

  display: flex;
  align-items: flex-start;
  gap: 8px;

  transition: background-color 0.2s ease, color 0.2s ease;

  &.active {
    font-family: Roboto-Medium;
  }
}

.nav-links a .nav-text {
  font-size: 14px;
  align-self: center;
}

.nav-links a.active .nav-text {
  text-decoration: underline 3px var(--text-primary);
  text-underline-offset: 12px;
}

.nav-links a:hover .nav-text {
  font-family: Roboto-Medium;
}

.become-host {
  font-size: 0.875rem;
  font-family: Roboto-Medium;
}

/* NAV-ICON - PLAY VIDEO ANIMATION ON HOVER */
.nav-links a .nav-icon {
  width: 40px;
  height: 40px;
  display: inline-grid;
  place-items: center;
  overflow: hidden;
  transform: scale(1);
  transition: transform .4s ease;
}

/* .nav-links a .nav-icon video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  pointer-events: none;
} */

.nav-links a:hover .nav-icon {
  transform: scale(1.20);
}

/* SIDE LINKS (hamburger, language, new-list) */
.side-links {
  grid-area: side-links;
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  gap: 16px;
  z-index: 10;

  img {
    padding: 4px;
    background-color: var(--icons-bg);
    border-radius: 360px;
  }

  img:hover {
    background-color: var(--icons-bg-hover);
    cursor: pointer;
  }

  a {
    justify-self: center;
    align-self: center;
    padding: 12px;
  }

  a:hover {
    background-color: var(--icons-bg);
    border-radius: 360px;
  }
}