.app-header {
  top: 0;
  z-index: 100;
  display: grid;
  grid-template-rows: auto;
  background: var(--header-bg);
  backdrop-filter: blur(var(--header-backdrop-blur));
  transition: box-shadow 0.25s ease, transform 0.2s ease;
  border-bottom: solid 0.75px var(--divider);
}

.app-header.is-expanded .header-main {
  grid-area: header-main;
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;

  span {
    width: max-content;
  }
}

.filter {
  width: 100%;
}

.app-header.is-expanded {
  box-shadow: none;
  height: 200px;
}

.app-header.mini {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.app-header.is-sticky {
  position: sticky;
  top: 0;
}


.nav-bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo header-main side-links";
  align-items: center;
  height: var(--header-height-expanded);
  transition: height 0.25s ease, padding 0.25s ease;
  height: auto;
}

.app-header.is-mini .nav-bar {
  height: 80px;
}

.logo {
  grid-area: logo;
  display: flex;
  align-self: flex-start;
  justify-self: start;
  gap: 8px;
  text-decoration: none;
  padding-top: 0.5em;
}

.logo .brand {
  font-size: 24px;
  color: var(--primary-01);
  font-family: Roboto-Medium, sans-serif;
}

.nav-links {
  grid-area: nav-links;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.nav-links a {
  color: var(--text-secondary);
  font-family: Roboto;
  font-size: 32px;
  text-decoration: none;
  padding: 12px;
  border-radius: 360px;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: background-color 0.2s ease, color 0.2s ease;
}

.nav-links a span {
  font-size: 16px;
}

.nav-links a.active span {
  text-decoration: underline 3px var(--text-primary);
  text-underline-offset: 8px;
}

.nav-links a:hover {
  background: rgba(0, 0, 0, 0.04);
}

.side-links {
  grid-area: side-links;
  display: flex;
  justify-self: flex-end;
  align-self: flex-start;
  gap: 16px;
  padding-top: 0.5em;

  img {
    padding: 12px;
    background-color: var(--icons-bg);
    border-radius: 360px;
  }

  img:hover {
    background-color: var(--icons-bg-hover);
    cursor: pointer;
  }

  a {
    justify-self: center;
    align-self: center;
    padding: 12px;
  }

  a:hover {
    background-color: var(--icons-bg);
    border-radius: 360px;
  }
}