/* anchor */
.filter-wrap {
  position: relative;
}


.filter-pill {
  position: relative;
  z-index: 50;
}

/* popup */
.filter-popover {
  position: absolute;
  top: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, .12);
  padding: 16px;
  z-index: 120;
  width: max-content;
}

.filter-popover.align-left {
  left: 0;
  transform: translateX(50%);
}

.filter-popover.align-right {
  right: 0;
  transform: none;
}

.filter-popover.align-center {
  left: 50%;
  transform: translateX(-50%);
}
