/* anchor */
.filter-wrap {
  position: relative;
}


.filter-pill {
  position: relative;
  z-index: 50; 
}

/* popup */
.filter-popover {
  position: absolute;
  top: calc(90%);
  left: 50%;
  transform: translateX(-50%);

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, .12);
  padding: 16px;
  z-index: 60;
  width: auto;
}
