.main-container {
  display: grid;
  grid-template-columns: minmax(1rem, 12rem) minmax(0, 2fr) minmax(1rem, 12rem);
  width: 100%;
}

.main-container>*:not(.full) {
  grid-column: 2;
}

.main-container>.full {
  grid-column: 1 / -1;
}

@media (width < 1500px) {
  .main-container {
    grid-template-columns: 1rem minmax(0, 2fr) 1rem;
  }
}