.main-container {
  display: grid;
grid-template-columns: minmax(5rem, 1fr) minmax(0, 1080px) minmax(5rem, 1fr);
 width: 100%;
}

.main-container>*:not(.full) {
    grid-column: 2;
}

.main-container>.full {
    grid-column: 1 / -1;
}
