:root {
--shades-01:#FFFFFF ;
--shades-02:#222222 ;
--shades-03:rgb(244, 244, 244) ;
--shades-04:rgb(175, 175, 175) ;
--shades-05:#FFFFFF ;
--shades-06:#FFFFFF ;

--neutrals-o1: rgb(245, 245, 245);
--neutrals-o2: rgb(230, 230, 230);
--neutrals-o3: rgb(213, 213, 213);
--neutrals-o4: rgb(201, 201, 201);
--neutrals-o5: rgb(181, 181, 181);
--neutrals-o6: rgb(160, 160, 160);
--neutrals-o7: rgb(94, 94, 94);
--neutrals-o8: rgb(76, 76, 76);

--primary-01:rgb(240,45,77) ;
}