.add-btn {
    width: 2.5rem;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.add-btn:hover {
    background-color: #fff;
}

.add-btn-img {
    width: 1rem;
    height: auto;
}