.stay-list {
    --min-column-size: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--min-column-size));
    gap: 11px;
    & li {
       list-style: none;
       width: fit-content;  
       
    }
}

