.stay-amenities {
    padding-top: 20px;
    padding-bottom: 30px;
    max-width: 600px;
}


.amenities-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.amenity-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}


.amenity-name {
    font-size: 16px;
    color: var(--text-primary);
}


@media (max-width: 768px) {
    .amenities-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .amenity-row {
        grid-template-columns: auto 1fr;
        gap: 10px;
    }
}