.stay-index {
    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-block: .3em;
    }

    & h2 {
        margin: 0;
        font-size: 1.3em;
    }

    & button {
        margin-inline-end: 0;
    }
}

.stay-idx-title {
    font-family: Roboto-Medium;
    font-size: 20px;
}

.stay-idx-subtitle {
    font-family: Roboto;
    font-size: 15px;
    color: var(--text-secondary);
    margin-bottom: 28px;
}