/* .stay-description {
    padding: 20px 0;
} */

.stay-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-bottom: 12px;
}

.stay-info .header {
    font-size: 22px;
    font-family: 'Roboto-Medium';
}

.stay-info .capacity {
    font-size: 16px;
    color: var(--neutrals-o8);
    margin-top: 4px;
    margin-bottom: 8px;
}

.stay-info .reviews-modal {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.0625rem;
    color: var(--text-primary);
    font-weight: normal;
    font-family: 'Roboto-Medium';
}

.reviews-count-btn {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Roboto-Medium';
    font-size: 15px;
}

.divider {
    border: none;
    border-top: 1px solid var(--divider);
    margin: 20px 0;
    max-width: 640px;
}

.stay-info-grid.host-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    max-width: 600px;
}

.stay-info-grid.host-grid .column-2 {
    display: flex;
    gap: 3px;
}

.stay-info-grid.host-grid .column-2 p:first-child {
    font-family: 'Roboto-Medium';
}

.stay-info-grid.host-grid .column-2 p:last-child {
    font-size: 15px;
    color: var(--gray3);
}

.stay-info-grid.features-grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 600px;
    padding: 15px 0;
}

.grid-row {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 35px;
    align-items: start;
}

.column-1 {
    display: flex;
    align-items: center;
}

.column-2 {
    display: flex;
    flex-direction: column;
}

.host-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--neutrals-o3);
}

.icon {
    font-size: 24px;
    color: var(--text-primary);
}

.info-item {
    display: flex;
    flex-direction: column;
}

.info-item p:first-child {
    font-family: 'Roboto-SemiBold';
    font-weight: normal;
    color: var(--neutrals-o8);
    margin-bottom: 0;
    font-size: 0.93em;
}

.info-item p:last-child {
    font-weight: normal;
    color: var(--gray3);
    font-size: 0.875rem;
    margin-top: 6px;
}

@media (max-width: 768px) {

    .column-1,
    .column-2 {
        gap: 10px;
    }
}