.stay-preview {
  --min: 170px;
  --max: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: start;
  color: black;
  text-decoration: none;

  &>* {
    width: 100%;
  }

  p {
    margin: 0;
  }
}


.preview-title,
.preview-details,
.preview-date {
  margin-left: 4px !important;
  font-weight: normal;
}

.preview-title {
  font-size: 0.875rem;
  font-family: Roboto;
}

.preview-details,
.preview-date {
  font-size: 0.8rem;
  color: var(--neutrals-o7);
}

.carousel {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  object-fit: contain;
  border-radius: 16px;
}

.swiper {
  margin: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  margin-left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.swiper-button-disabled {
  display: none ;
}

.swiper-pagination-bullet {
  background: rgb(160, 160, 160) !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}

.stay-preview .swiper-button-prev,
.stay-preview .swiper-button-next {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.stay-preview:hover .swiper-button-prev,
.stay-preview:hover .swiper-button-next {
  opacity: 0.9;
  pointer-events: auto;
}

.stay-preview .swiper-button-prev:hover,
.stay-preview .swiper-button-next:hover {
  opacity: 1;
}

.stay-preview .swiper-button-prev::after,
.stay-preview .swiper-button-next::after {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0.5rem;
  font-size: 0.625rem;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.stay-preview .swiper-button-prev:hover::after,
.stay-preview .swiper-button-next:hover::after {
  transform: scale(1.1);
}

.heart-icon {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  opacity: 1;
  cursor: pointer;
  z-index: 6;
  text-shadow: -1.5px -1.5px 0 white, 1.5px -1.5px 0 white, -1.5px 1.5px 0 white, 1.5px 1px 0 white;
  transition: transform 0.25s ease;
}

.heart-icon:hover {
  transform: scale(1.1);
}